<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ScreenshotUtility" verbose="10" preserve-order="true">
	<test name="capturescreen" verbose="10" preserve-order="true">
		<packages>
			<package name="screenshot.*" />
		</packages>
	</test>
</suite>